@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Model.MtdApprovalStage.Name;
    ViewData["SecondTitle"] = Localizer["Rejections list"];
    string stage = Request.Query["stage"];
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config-form.css" />
}

@section Breadcrumb {
    <li><a href="/config">@Localizer["Configurator"]</a></li>
    <li><a href="/config/approval">@Localizer["Approvals"]</a></li>
    <li><a href="/config/approval/edit?id=@Model.MtdApprovalStage.MtdApproval">@Localizer["Approval editor"]</a></li>
        <li><a href="/config/approval/stages?idApproval=@Model.MtdApprovalStage.MtdApproval">@Localizer["Stages list"]</a></li>
    <li>@Localizer["Rejections"]</li>
}

<div class="mtd-desk">
    <div id="configCreator" class="mtd-config-form-creator">
        <a mtd-data-href="/config/approval/rejections/create?stage=@Model.MtdApprovalStage.Id" class="mdc-fab mdc-fab--extended" aria-label="Create">
            <span class="material-icons mdc-fab__icon">add</span>
            <span class="mdc-fab__label">@Localizer["Create"]</span>
        </a>
    </div>

    <div class="mtd-config-form-search">
        <form id="configFormText" method="get" enctype="multipart/form-data" style="width: 100%" autocomplete='off'>
            <input type="hidden" name="stage" value="@stage" />
            <div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--with-leading-icon">
                <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">search</i>
                <input id="configSearchText" name="searchText" value="@Model.SearchText" class="mdc-text-field__input"
                       type="text"
                       placeholder="@Localizer["Search name"]"
                       aria-label="Search name"
                       autocomplete="off">
            </div>
        </form>
    </div>


    <ul id="drgList" class="mdc-list mdc-list--two-line">
        @foreach (var rejection in Model.Rejections)
        {
        <li mtd-data-href="/config/approval/rejections/edit?id=@rejection.Id" class="mtd-desk-draggable-item mdt-config-form__item mdc-list-item"
            aria-checked="false" data-value="@rejection.Id" id="@rejection.Id-licol" draggable="true">
            <span class="mdc-list-item__graphic">
                @await Component.InvokeAsync("MTDImgViewer", new { maxHeight = 32, maxWidth = 32, imgArray = rejection.ImgData, imgType = rejection.ImgType })
            </span>
            <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">@rejection.Name</span>
                <span class="mdc-list-item__secondary-text">@rejection.Note</span>
            </span>

            <div class="mtd-config-form__bedit">
                <button class="mdc-icon-button"
                        aria-label="edit"
                        aria-hidden="true"
                        aria-pressed="false">
                    <i class="material-icons mdc-icon-button__icon">edit</i>
                </button>
            </div>
            <div class="mtd-desk-draggable-bdrag">
                <i class="material-icons" style="color:gray">drag_handle</i>
            </div>
        </li>
        }
    </ul>
</div>

<form mtd-data-form method="post" asp-page-handler="Sequence">
    <input id="drgData" name="drgData" type="hidden" />
    <input id="drgSequence" mtd-data-clicker type="hidden" />
    <input name="stage-id" type="hidden" value="@Model.MtdApprovalStage.Id" />
</form>

@section Scripts {
    <script src="~/lib/mtd-ordermaker/common/js/mtd-draggable.js" asp-append-version="true"></script>
}
