@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@
@model Models.Store.DataContainer
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer


<form mtd-data-form method='post' autocomplete='off' enctype='multipart/form-data' action='/api/store/save'>
    @Html.AntiForgeryToken()
    <input type="hidden" name="idStore" asp-for="@Model.Owner.Store.Id" />
    <input type="hidden" id="store-parent" name="store-parent" value="@Model.Owner.Store.Parent" />
    <input type="hidden" id="store-edit-clicker" mtd-data-clicker mtd-data-location="/workplace/store/details?id=@Model.Owner.Store.Id" />

    <div class="mtd-store-style-blank" style="margin-bottom: 24px;">    

        <div id="@Model.Owner.Store.Id-modal" class="mtd-store-style-modal"></div>

        <div class="mtd-store-style-header">
            <div class="mtd-store-style-badge">
                @if (Model.Owner.Store.MtdFormNavigation.MtdFormHeader != null)
                {
                    var base64 = Convert.ToBase64String(Model.Owner.Store.MtdFormNavigation.MtdFormHeader.Image);
                    var imgSrc = String.Format("data:{0};base64,{1}", Model.Owner.Store.MtdFormNavigation.MtdFormHeader.ImageType, base64);

                    <img src="@imgSrc" />
                }
                <div class="mtd-store-style-title">
                    @Model.Owner.Store.MtdFormNavigation.Name
                </div>
            </div>

            <div class="mtd-store-style-attribute">
                @if (Model.Owner.Store.MtdFormNavigation.VisibleNumber == 1)
                {
                    <span class="mtd-store-style-number">№ @Model.Owner.Store.Sequence.ToString("D9")</span>
                    <hr />
                }

                @if (Model.Owner.Store.MtdFormNavigation.VisibleDate == 1)
                {
                    if (Model.Owner.SetDate)
                    {

                        @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                           {
                               Id = "date-create",
                               Name = "date-create",
                               Value = @Model.Owner.Store.Timecr.ToShortDateString(),
                               Class = "mtd-data-datepicker",
                               MTDTexFieldView = MTDTextFieldViews.Outlined,
                               Label = "Date",
                               LabelLocalized = true,
                           });

                    }
                    else
                    {
                        <span class="mtd-store-style-date">@Localizer["Date"] @Model.Owner.Store.Timecr.ToShortDateString()</span>
                    }

                }
            </div>
        </div>

        <div>
            @{ string partId = Guid.NewGuid().ToString(); }

            @foreach (var part in Model.Owner.Parts)
            {
                if (part.Title == 1)
                {
                    partId = part.Id;
                    <div class="mtd-store-edit-part">
                        <div style="flex-grow:1">
                            @part.Name
                        </div>

                        <div>
                            <button mtd-button-toggle="@partId" class="mdc-icon-button" type="button" style="color: navy">
                                <div class="mdc-button__ripple"></div>
                                <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">expand_more</i>
                                <i class="material-icons mdc-icon-button__icon">expand_less</i>
                            </button>
                        </div>
                    </div>
                }

                <div mtd-div-toggle="@partId">
                    @await Component.InvokeAsync("StorePartEditor", new { part = part, model = Model.Owner })
                </div>
            }
        </div>
    </div>
</form>
