
@model Mtd.OrderMaker.Server.Areas.Workplace.Pages.Store.DetailsModel
@namespace Mtd.OrderMaker.Server.Components.Store
@using Mtd.OrderMaker.Server.DataHandler.Approval
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    string disabled = Model.IsFirstStage ? "disabled" : "";
    string idAccept = Model.IsFirstStage ? "id=button-start-approval" : "id=accept-button";
    string disabledRequest = (!Model.IsFirstStage && Enumerable.Count(ViewBag.UsersRequest) > 0) ? "" : "disabled";
}

<div class="mtd-index-header-buttons" style="padding-top: 6px;">
    <div class="mtd-desk-hint-ibutton">
        <button @idAccept class="mdc-icon-button material-icons">thumb_up</button>
        <div class="mtd-desk-hint-ibutton_info">
            @if (Model.IsFirstStage)
            {
                <span>@Localizer["Start approval"]</span>
            }
            else
            {
                <span>@Localizer["Approve"]</span>
            }

        </div>
    </div>
    <div class="mtd-desk-hint-ibutton">
        <button id="return-button" class="mdc-icon-button" @disabled>
            <i class="fas fa-reply" style="padding-bottom: 6px;"></i>
        </button>
        <div class="mtd-desk-hint-ibutton_info">
            <span>@Localizer["Document return"]</span>
        </div>
    </div>
    <div class="mtd-desk-hint-ibutton">
        <button id="reject-button" class="mdc-icon-button material-icons" @disabled>thumb_down</button>
        <div class="mtd-desk-hint-ibutton_info">
            <span>@Localizer["Reject"]</span>
        </div>
    </div>

    <div class="mtd-desk-hint-ibutton">
        <button id="request-button" class="mdc-icon-button" @disabledRequest>
            <i class="fas fa-share-square" style="padding-bottom: 6px;"></i>
        </button>
        <div class="mtd-desk-hint-ibutton_info">
            <span>@Localizer["Signature request"]</span>
        </div>
    </div>


</div>

