@model Mtd.OrderMaker.Server.Areas.Workplace.Pages.Store.DetailsModel
@namespace Mtd.OrderMaker.Server.Components.Store
@using Mtd.OrderMaker.Server.EntityHandler.Approval
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="mtd-desk-block-content mtd-desk-block--border">
    <div class="mtd-desk-block-title">
        <div class="mtd-desk-block-title-icon">
            <i class="material-icons" aria-hidden="true">info</i>
        </div>
        <div class="mtd-desk-block-title-label">
            @Localizer["Document information"]
        </div>
        <div class="mtd-desk-block-title-button">
            <button onclick="clickBlockToogle(this)"
                    class="mdc-icon-button"
                    aria-label="Add to favorites"
                    aria-hidden="true"
                    aria-pressed="false"
                    data="block-info">
                <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">add_box</i>
                <i class="material-icons mdc-icon-button__icon">indeterminate_check_box</i>
            </button>
        </div>
    </div>
    <div id="block-info" class="mtd-desk-block-body">
        <table>
            <tr><td>ID</td><td>@Model.MtdStore.Sequence.ToString("D9")</td></tr>
            <tr><td>@Localizer["Owner"]</td><td>@Localizer[$"{ViewBag.Owner}"]</td></tr>
            @if (Model.IsFormApproval)
            {
                switch (Model.ApprovalStatus)
                {
                    case ApprovalStatus.Rejected:
                        {
                            <tr>
                                <td>@Localizer["Approval status"]</td>
                                <td>
                                    <div class="mtd-store-view-status">
                                        <div>
                                            @if (Model.MtdApproval.ImgRejected == null)
                                            {<i style="vertical-align:middle" class="material-icons">thumb_down</i> }
                                            else
                                            {
                                                var modelRejected = new
                                                {
                                                    maxHeight = 24,
                                                    maxWidth = 24,
                                                    imgArray = Model.MtdApproval.ImgRejected,
                                                    imgType = Model.MtdApproval.ImgRejectedType
                                                };
                                                @await Component.InvokeAsync("MTDImgViewer", modelRejected);
                                            }
                                        </div>
                                        <div>
                                            @if (Model.MtdApproval.ImgRejectedText == null)
                                            {@Localizer["Rejected"]} else {@Model.MtdApproval.ImgRejectedText}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            break;
                        }
                    case ApprovalStatus.Approved:
                        {
                            <tr>
                                <td>@Localizer["Approval status"]</td>
                                <td>
                                    <div class="mtd-store-view-status">
                                        <div>
                                            @if (Model.MtdApproval.ImgApproved == null)
                                            {<i style="vertical-align:middle" class="material-icons">thumb_up</i> }
                                            else
                                            {
                                                var modelApproved = new
                                                {
                                                    maxHeight = 24,
                                                    maxWidth = 24,
                                                    imgArray = Model.MtdApproval.ImgApproved,
                                                    imgType = Model.MtdApproval.ImgApprovedType
                                                };
                                                @await Component.InvokeAsync("MTDImgViewer", modelApproved);
                                            }
                                        </div>
                                        <div>
                                            @if (Model.MtdApproval.ImgApprovedText == null)
                                            {@Localizer["Approved"]}
                                        else
                                        {@Model.MtdApproval.ImgApprovedText}
                                        </div>
                                    </div>                                    
                                </td>
                            </tr>
                            break;
                        }
                    case ApprovalStatus.Waiting:
                        {
                            <tr>
                                <td>@Localizer["Approval status"]</td>
                                <td>
                                    <div class="mtd-store-view-status">
                                        <div>
                                            @if (Model.MtdApproval.ImgWaiting == null)
                                            {<i style="vertical-align:middle" class="material-icons">hourglass_full</i> }
                                            else
                                            {
                                                var modelWaiting = new
                                                {
                                                    maxHeight = 24,
                                                    maxWidth = 24,
                                                    imgArray = Model.MtdApproval.ImgWaiting,
                                                    imgType = Model.MtdApproval.ImgWaitingType
                                                };
                                                @await Component.InvokeAsync("MTDImgViewer", modelWaiting);
                                            }
                                        </div>
                                        <div>
                                            @if (Model.MtdApproval.ImgWaitingText == null)
                                            {@Localizer["Waiting"]}
                                        else
                                        {@Model.MtdApproval.ImgWaitingText}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            break;
                        }
                    case ApprovalStatus.Start:
                        {
                            <tr>
                                <td>@Localizer["Approval status"]</td>
                                <td>
                                    <div class="mtd-store-view-status">
                                        <div>
                                            @if (Model.MtdApproval.ImgStart == null)
                                            {<i style="vertical-align:middle" class="material-icons">new_releases</i> }
                                            else
                                            {
                                                var modelStart = new
                                                {
                                                    maxHeight = 24,
                                                    maxWidth = 24,
                                                    imgArray = Model.MtdApproval.ImgStart,
                                                    imgType = Model.MtdApproval.ImgStartType
                                                };
                                                @await Component.InvokeAsync("MTDImgViewer", modelStart);
                                            }
                                        </div>
                                        <div>
                                            @if (Model.MtdApproval.ImgStartText == null)
                                            {@Localizer["Not started"]}
                                        else
                                        {@Model.MtdApproval.ImgStartText}
                                        </div>                                        
                                    </div>
                                </td>
                            </tr>
                            break;
                        }
                    case ApprovalStatus.Iteraction:
                        {
                            <tr>
                                <td>@Localizer["Approval status"]</td>
                                <td>
                                    <div class="mtd-store-view-status">
                                        <div>
                                            @if (Model.MtdApproval.ImgIteraction == null)
                                            {<i style="vertical-align:middle" class="material-icons">new_releases</i> }
                                            else
                                            {
                                                var modelIteraction = new
                                                {
                                                    maxHeight = 24,
                                                    maxWidth = 24,
                                                    imgArray = Model.MtdApproval.ImgIteraction,
                                                    imgType = Model.MtdApproval.ImgIteractionType
                                                };
                                                @await Component.InvokeAsync("MTDImgViewer", modelIteraction);
                                            }
                                        </div>
                                        <div>
                                            @if (Model.MtdApproval.ImgIteractionText == null)
                                            {@Localizer["Returned"]}
                                        else
                                        {@Model.MtdApproval.ImgIteractionText}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            break;
                        }

                    case ApprovalStatus.Required:
                        {
                            <tr>
                                <td>@Localizer["Approval status"]</td>
                                <td>
                                    <div class="mtd-store-view-status">
                                        <div>
                                            @if (Model.MtdApproval.ImgRequired == null)
                                            {<i style="vertical-align:middle; font-size: 28px" class="material-icons">notification_important</i>}
                                            else
                                            {
                                                var modelRequired = new
                                                {
                                                    maxHeight = 24,
                                                    maxWidth = 24,
                                                    imgArray = Model.MtdApproval.ImgRequired,
                                                    imgType = Model.MtdApproval.ImgRequiredType
                                                };
                                                @await Component.InvokeAsync("MTDImgViewer", modelRequired);
                                            }
                                        </div>
                                        <div>
                                            @if (Model.MtdApproval.ImgRequiredText == null)
                                            {@Localizer["Approval is required"]}
                                        else
                                        {@Model.MtdApproval.ImgRequiredText}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            break;
                        }
                }
            }
        </table>
    </div>
</div>
