@model Mtd.OrderMaker.Server.Areas.Workplace.Pages.Store.DetailsModel
@namespace Mtd.OrderMaker.Server.Components.Store
@using Mtd.OrderMaker.Server.EntityHandler.Approval
@using Microsoft.AspNetCore.Mvc.Localization
@using static Mtd.OrderMaker.Server.Extensions.UserExtensions
@inject IHtmlLocalizer<SharedResource> Localizer


<table style="white-space: nowrap; border-collapse:collapse">
    <tr><td>ID</td><td colspan="2">@Model.MtdStore.Sequence.ToString("D9")</td></tr>
    <tr><td>@Localizer["Owner"]</td><td colspan="2">@Model.UserOwner.GetFullName()</td></tr>
    <tr><td>@Localizer["Created by"]</td><td style="width:100%">@Localizer[$"{Model.ChangesHistory.CreateByUser}"]</td><td>@Localizer[$"{Model.ChangesHistory.CreateByTime}"]</td></tr>
    <tr><td>@Localizer["Edited by"]</td><td>@Localizer[$"{Model.ChangesHistory.LastEditedUser}"]</td><td>@Localizer[$"{Model.ChangesHistory.LastEditedTime}"]</td></tr>
</table>

