@model DetailsModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



<form mtd-data-form method="post" autocomplete='off' enctype='multipart/form-data' action='/api/store/approval/reject'>
    @Html.AntiForgeryToken()
    <input type="hidden" name="id-store" value="@Model.MtdStore.Id" />
    <div id="dialog-approval" class="mdc-dialog"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="dialog-approval-title"
         aria-describedby="dialog-approval-content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title" id="approval-form-title">
                    @Localizer["Choose a route to rejection"]
                </h2>

                <div class="mdc-dialog__content" id="approval-dialog-content">
                    <div>
                        <div class="mdc-form-field">
                            <div class="mdc-checkbox">
                                <input type="checkbox"
                                       class="mdc-checkbox__native-control"
                                       id="checkbox-complete" name="checkbox-complete" />
                                <div class="mdc-checkbox__background">
                                    <svg class="mdc-checkbox__checkmark"
                                         viewBox="0 0 24 24">
                                        <path class="mdc-checkbox__checkmark-path"
                                              fill="none"
                                              d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                    </svg>
                                    <div class="mdc-checkbox__mixedmark"></div>
                                </div>
                            </div>
                            <label for="checkbox-complete">@Localizer["Complete the approval process"]</label>
                        </div>
                    </div>
                    @Localizer["Select the stage to which the approval process will be returned"].
                    <div id="stage-selector" class="mdc-select" style="width: 100%; margin-top: 8px;">
                        <i class="mdc-select__dropdown-icon"></i>
                        <select id="next-stage" class="mdc-select__native-control" asp-items="ViewBag.Stages" name="next-stage"></select>
                        <label class="mdc-floating-label mdc-floating-label--float-above">@Localizer["Stages"]</label>
                        <div class="mdc-line-ripple"></div>
                    </div>

                    @if (Model.ListRejections != null && Model.ListRejections.Count > 0)
                    {

                        <div style="padding-top: 18px;">
                            @Localizer["Select the resolution"]:
                        </div>
                        <div class="mdc-select" style="width: 100%; margin-top: 8px;">
                            <i class="mdc-select__dropdown-icon"></i>
                            <select class="mdc-select__native-control" asp-items="ViewBag.ListRejection" name="id-rejection"></select>
                            <label class="mdc-floating-label mdc-floating-label--float-above">@Localizer["Resolution"]</label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                    }

                    <div style="padding-top: 18px; width: 100%">
                        <label class="mdc-text-field mdc-text-field--textarea" style="width:100%">
                            <div class="mdc-text-field-character-counter">0 / 250</div>
                            <textarea class="mdc-text-field__input" aria-labelledby="comment-start-id" name="comment-reject-id" rows="3" cols="40"
                                      maxlength="250" placeholder="@Localizer["Create a comment if necessary"]"></textarea>
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label" id="comment-reject-id">@Localizer["Comment"]</span>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </label>
                    </div>
                </div>

                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                        <span class="mdc-button__label">@Localizer["Cancel"]</span>
                    </button>
                    <button type="button" mtd-data-clicker mtd-data-message="@Localizer["Document is rejected"]" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" style="color:red">
                        <span class="mdc-button__label">@Localizer["Reject"]</span>
                    </button>
                </footer>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
</form>