@model DetailsModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer


<form mtd-data-form method="post" autocomplete='off' enctype='multipart/form-data' action='/api/store/approval/response/0'>
    @Html.AntiForgeryToken()
    <input type="hidden" name="id-store" value="@Model.MtdStore.Id" />
    <div id="dialog-return-sign" class="mdc-dialog"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="dialog-return-title"
         aria-describedby="dialog-return-content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title" id="return-sign-form-title">
                    @Localizer["Simple response to the request"]
                </h2>
                <div class="mdc-dialog__content" id="return-sign-dialog-content">
                    <hr />
                     @Localizer["A simple answer response to a user’s request will be recorded in the list of approval history"].
                    <hr />
                    <div style="padding-top: 18px; width: 100%">
                        <label class="mdc-text-field mdc-text-field--textarea" style="width:100%">
                            <div class="mdc-text-field-character-counter">0 / 250</div>
                            <textarea required class="mdc-text-field__input" aria-labelledby="comment-return-sign-id" name="comment-request-id" rows="3" cols="40"
                                      maxlength="250" placeholder="@Localizer["In this answer option, comment is required"]"></textarea>
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label" id="comment-return-sign-id">@Localizer["Comment"]</span>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                        <span class="mdc-button__label">@Localizer["Cancel"]</span>
                    </button>
                    <button type="button" id="clicker-return-sign" mtd-data-clicker mtd-data-message="@Localizer["Answer sent"]." class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" style="color:green">
                        <span class="mdc-button__label">@Localizer["Apply"]</span>
                    </button>
                </footer>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
</form>