@model DetailsModel
@inject IHtmlLocalizer<SharedResource> Localizer

<div id="dialog-add-activity" class="mtd-dialog mtd-dialog-hidden" style="max-width: 670px;">
    <div class="mtd-dialog-container">
        <div class="mtd-dialog-title">
            <div>
                @Localizer["Add activity dialog"]
            </div>
            <div>
                <button mtd-dialog-cancel class="mdc-icon-button material-icons">close</button>
            </div>
        </div>
        <div class="mtd-dialog-content">
            <form mtd-data-form method="post" autocomplete='off' action='/api/store/activity/add'>
                @Html.AntiForgeryToken()
                <input type="hidden" name="formId" value="@Model.MtdStore.MtdForm" />
                <input type="hidden" name="storeId" value="@Model.MtdStore.Id" />
                @*<div class="mtd-dialog-info">
                    @Localizer["A positive decision on the current document will complete the approval process or forward the document to the next user."]
                </div>*@


                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                    {
                        Id = "activity-date",
                        Name = "activityDate",
                        Label = "Event date",
                        LabelLocalized = true,
                        Value = DateTime.Now.ToString("g"),
                        Required = true,
                        IconLeading = "far fa-calendar-alt",
                        Class = " mtd-data-datetimepicker ",
                        MTDTexFieldView = MTDTextFieldViews.Outlined
                    })

                <div class="mtd-dialog-space"></div>

                @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
               {
                    Id = "activity-select",
                    Name = "activitySelect",
                    Label = "Event name",
                    LabelLocalized = true,
                    Items = Model.Activites,
                    MTDSelectListView = MTDSelectListViews.Outlined
               })

                <div class="mtd-dialog-space"></div>

                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                   {
                       Id = "activity-comment",
                       Name = "activityComment",
                       Label = "Comment",
                       LabelLocalized = true,
                       Placeholder = "Create a comment if necessary",
                       PlaceholderLocalized = true,
                       Cols = 40,
                       Rows = 3,
                       MaxLength = 250,
                       MTDTexFieldView = MTDTextFieldViews.TextArea,
                       Required = true
                   })

                <div class="mtd-dialog-buttons">
                    <button mtd-dialog-apply mtd-data-clicker class="mdc-button mdc-button--raised mdc-theme--secondary-bg" type="button" mtd-data-message="@Localizer["Activity added."]">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">@Localizer["Apply"]</span>
                    </button>
                    <button mtd-dialog-cancel class="mdc-button" type="button">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">@Localizer["Cancel"]</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>