@page
@model ChangePasswordModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Password"];
    ViewData["SecondTitle"] = Localizer["Change account password"];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    ViewData["UserName"] = Model.UserName;
    ViewData["Message"] = Localizer["Your password has been changed."];
}

@section Breadcrumb {
    <li><a href="/Identity/Account/Manage/">@Localizer["Account"]</a></li>
    <li>@ViewBag.Title</li>
}

@section Action{
    <li class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">link</span>
        <span class="mdc-list-item__text">@Localizer["Send link for password"]</span>
    </li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-save" class="mdc-fab mdc-fab--extended" type="button">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">save</span>
                <span class="mdc-fab__label">@Localizer["Save"]</span>
            </button>
        </div>
    </div>
    <form mtd-data-form method="post" autocomplete="off" novalidate>
        <input id="clicker-save" type="hidden" mtd-data-clicker mtd-data-message="@ViewBag.Message" />

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                {
                    Id = "pwd-current",
                    Name = "Input.OldPassword",
                    Label = "Current password",
                    LabelLocalized = true,
                    IconLeading = "fas fa-key fa-lg",
                    MTDTexFieldView = MTDTextFieldViews.Default,
                    Type = "password",
                    HelperError = "You must enter your password in order to change your profile.",
                    HelperErrorLocalizer = true,
                    Required = true,
                    MtdInputClicker = true,
                    MtdDataMessage = @ViewBag.Message,
                })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                {
                    Id = "pwd-new",
                    Name = "Input.NewPassword",
                    Label = "New password",
                    LabelLocalized = true,
                    MTDTexFieldView = MTDTextFieldViews.Default,
                    Type = "password",
                    Required = true,
                })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "pwd-confirm",
                   Name = "Input.ConfirmPassword",
                   Label = "Confirm password",
                   LabelLocalized = true,
                   MTDTexFieldView = MTDTextFieldViews.Default,
                   Type = "password",
                   //Required = true,
                   HelperError = "The new password and confirmation password do not match.",
                   HelperErrorLocalizer = true,
                   MtdInputClicker = true,
                   MtdDataMessage = @ViewBag.Message,
               })
        </div>
    </form>

</div>

@*<partial name="_StatusMessage" for="StatusMessage" />
    <div style="padding-bottom: 24px; padding-top: 8px;">
        <form id="change-password-form" method="post">
            <input asp-for="UserName" type="hidden" />
            <div asp-validation-summary="All" class="mtd-main-danger"></div>
            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" style="width: 100%; margin-top: 16px;">
                <i class="material-icons mdc-text-field__icon">lock</i>
                <input id="login-old" asp-for="Input.OldPassword" type="password" class="mdc-text-field__input" />
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="login-old" class="mdc-floating-label">@Localizer["Old password"]</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 16px;">
                <input id="login-new" asp-for="Input.NewPassword" type="password" class="mdc-text-field__input" />
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="login-new" class="mdc-floating-label">@Localizer["New password"]</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 16px;">
                <input id="login-confirm" asp-for="Input.ConfirmPassword" type="password" class="mdc-text-field__input" />
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="login-confirm" class="mdc-floating-label">@Localizer["Confirm password"]</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div style="padding-top: 16px; float: right">
                <button id="update-profile-button" type="submit" class="mdc-button mdc-button--raised">@Localizer["Save"]</button>
            </div>
        </form>
    </div>*@

@section Scripts{
    <script src="/lib/mtd-ordermaker/identity/js/mtd-identity-password.js" asp-append-version="true"></script>
}


