@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@
@page
@model EditModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Profile"];
    ViewData["SecondTitle"] = Localizer["Editing profile parameters"];
    ViewData["userId"] = HttpContext.Request.Query["id"];
}
@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/users/css/mtd-users.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/store/css/mtd-store-edit.css" asp-append-version="true" />
}
@section Breadcrumb {
    <li><a href="/Identity/Users">@Localizer["Users"]</a></li>
    <li><a href="/Identity/Users/Accounts">@Localizer["Accounts"]</a></li>
    <li>@ViewData["Title"]</li>
}
@section Action  {
    <li class="mdc-list-item" role="menuitem" onclick="document.getElementById('users-confirm-email').click()">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">link</span>
        <span class="mdc-list-item__text">@Localizer["Send link for Email"]</span>
    </li>
    @if (Model.Input.IsConfirm)
    {
        <li class="mdc-list-item" role="menuitem" onclick="document.getElementById('users-confirm-password').click()">
            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">link</span>
            <span class="mdc-list-item__text">@Localizer["Send link for password"]</span>
        </li>
        <li class="mdc-list-item" role="menuitem" onclick="document.getElementById('users-create-password').click()">
            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">send</span>
            <span class="mdc-list-item__text">@Localizer["Send new password"]</span>
        </li>
    }
    else
    {
        <li class="mdc-list-item mdc-list-item--disabled" role="menuitem">
            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">link</span>
            <span class="mdc-list-item__text">@Localizer["Password recovery"]</span>
        </li>
        <li class="mdc-list-item mdc-list-item--disabled" role="menuitem">
            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">send</span>
            <span class="mdc-list-item__text">@Localizer["Generating a password"]</span>
        </li>
    }
    <li id="transfer-open-dialog" class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">sync_alt</span>
        <span class="mdc-list-item__text">@Localizer["Transfer all documents"]</span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li id="users-open-dialog" class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">delete</span>
        <span class="mdc-list-item__text">@Localizer["Delete user"]</span>
    </li>
}
<form mtd-data-form id="profile-form" method="post" action="/api/users/admin/profile" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="mtd-desk">
        <div class="mtd-store-edit-bar" style="text-align: right">
            <div class="mtd-store-edit-control" style="position:absolute">
                <a mtd-data-clicker class="mdc-fab mdc-fab--extended" aria-label="Save">
                    <span class="material-icons mdc-fab__icon">save</span>
                    <span class="mdc-fab__label">@Localizer["Save"]</span>
                </a>
            </div>
            <div>
                <button mtd-data-href="/identity/users/accounts" class="mdc-button" type="button">
                    <span class="mdc-button__label">@Localizer["Cancel"]</span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">cancel</i>
                </button>
            </div>
        </div>
        <div>
            <div class="mtd-users-edit-title" style="padding: 8px">
                <div style="background-color: lightgray;   width: 52px; height: 52px; border-radius: 50%; text-align:center; align-self: center">
                    <i class="material-icons" style="font-size: 48px; color: white">person</i>
                </div>
                <div class="mtd-users-edit-names" style="align-self: center">
                    <div style="font-size: x-large; font-weight: bold">
                        @Model.UserName
                    </div>
                </div>
            </div>
            <div class="mtd-users-wrap">
                <div style="padding: 8px">
                    @await Html.PartialAsync("_ProfielPartial.cshtml")
                </div>
                <div style="flex-grow: 1; padding: 24px 8px 8px 8px;">
                    <div style="padding-bottom: 16px;">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon" style="width: 100%;">
                            <i class="material-icons mdc-text-field__icon">group</i>
                            <input id="login-title-group" asp-for="Input.TitleGroup" type="text" class="mdc-text-field__input" />
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="login-title-group" class="mdc-floating-label">@Localizer["Title group name"]</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                    <div style="position:relative">
                        <div style="position: absolute; padding: 4px; top: -16px; left: 12px; background-color:white;font-weight: 500; z-index:1;">
                            @Localizer["Groups user"]
                        </div>
                    </div>                    
                    <div style="border: 1px solid lightgray; padding: 8px; height: 256px;position:relative; overflow: hidden; overflow-y: auto; ">
                        <div style="display: flex; flex-wrap:wrap; max-width: 950px; ">
                            @if (!Model.MtdGroups.Any())
                            {
                            <span style="padding: 4px;">
                                @Localizer["No groups to select"]
                            </span>
                            }
                            @foreach (var group in Model.MtdGroups)
                            {

                                bool checkGroup = Model.GroupIds.Contains(group.Id);

                            <div style="margin: 4px; padding:4px; display: flex; background-color: whitesmoke; border-radius: 10px; width: 200px;  overflow:hidden;">
                                <div class="mdc-form-field">
                                    <div class="mdc-checkbox">
                                        <input type="checkbox"
                                               class="mdc-checkbox__native-control"
                                               id="@group.Id-group" name="@group.Id-group" @if (checkGroup) { <text> checked</text>} />
                                        <div class="mdc-checkbox__background">
                                            <svg class="mdc-checkbox__checkmark"
                                                 viewBox="0 0 24 24">
                                                <path class="mdc-checkbox__checkmark-path"
                                                      fill="none"
                                                      d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                            </svg>
                                            <div class="mdc-checkbox__mixedmark"></div>
                                        </div>
                                    </div>
                                    <label for="@group.Id-group">@group.Name</label>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("_CpqRulesPartial.cshtml")
    </div>
</form>

<form mtd-data-form method="post" autocomplete="off" enctype="multipart/form-data" action="/api/users/admin/confirm/email">
    @Html.AntiForgeryToken()
    <input name="UserName" value="@Model.UserName" type="hidden" />
    <input id="users-confirm-email" mtd-data-clicker mtd-data-message="@Localizer["Message sent"]." type="hidden" />
</form>

@if (Model.Input.IsConfirm)
{

    <form mtd-data-form method="post" autocomplete="off" enctype="multipart/form-data" action="/api/users/admin/confirm/password">
        @Html.AntiForgeryToken()
        <input name="UserName" value="@Model.UserName" type="hidden" />
        <input id="users-confirm-password" mtd-data-clicker mtd-data-message="@Localizer["Message sent"]." type="hidden" />
    </form>

    <form mtd-data-form method="post" autocomplete="off" enctype="multipart/form-data" action="/api/users/admin/create/password">
        @Html.AntiForgeryToken()
        <input name="UserName" value="@Model.UserName" type="hidden" />
        <input id="users-create-password" mtd-data-clicker mtd-data-message="@Localizer["A new password has been sent to the user."]." type="hidden" />
    </form>

}

<form mtd-data-form method="post" autocomplete='off' enctype='multipart/form-data' action='/api/users/admin/delete'>
    @Html.AntiForgeryToken()
    <input id="user-delete-id" name="user-delete-id" type="hidden" value="@ViewBag.userId" />
    <input id="deleteClicker" mtd-data-clicker mtd-data-location="/identity/users/accounts" mtd-data-message="@Localizer["User daleted"]." type="hidden" />
</form>

<div id="dialog-users-delete" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="delete-dialog-title">
                @Localizer["Delete user"]?
            </h2>
            <div class="mdc-dialog__content" id="delete-dialog-content">
                @Localizer["The user will be permanently deleted"].
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <span class="mdc-button__label">@Localizer["Cancel"]</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
                    <span class="mdc-button__label" onclick="document.getElementById('deleteClicker').click();">@Localizer["Delete"]</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>

<div id="dialog-users-delete" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="delete-dialog-title">
                @Localizer["Delete user"]?
            </h2>
            <div class="mdc-dialog__content" id="delete-dialog-content">
                @Localizer["The user will be permanently deleted"].
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <span class="mdc-button__label">@Localizer["Cancel"]</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes"
                        onclick="document.getElementById('deleteClicker').click();">
                    <span class="mdc-button__label">@Localizer["Delete"]</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>

<form mtd-data-form method="post" autocomplete='off' enctype='multipart/form-data' action='/api/users/admin/transfer'>
    @Html.AntiForgeryToken()
    <input id="user-owner-id" name="user-owner-id" type="hidden" value="@ViewBag.userId" />
    <div id="dialog-user-transfer" class="mdc-dialog"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="transfer-dialog-title"
         aria-describedby="transfer-dialog-content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title" id="transfer-dialog-title">
                    @Localizer["Transfer of documents"]
                </h2>
                <div class="mdc-dialog__content" id="transfer-dialog-content">
                    <hr />
                    @Localizer["Transfer of documents to the user"].
                    <hr />
                    <div style="padding-top: 18px;">
                        @Localizer["Select a user from the list"]:
                    </div>

                    <div class="mdc-select" style="width: 100%; margin-top: 8px;">
                        <i class="mdc-select__dropdown-icon"></i>
                        <select class="mdc-select__native-control" asp-items="ViewBag.Users" name="user-recipient-id"></select>
                        <label class="mdc-floating-label mdc-floating-label--float-above">@Localizer["User"]</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                        <span class="mdc-button__label">@Localizer["Cancel"]</span>
                    </button>
                    <button type="button" mtd-data-clicker mtd-data-message="@Localizer["Transfer process completed"]" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
                        <span class="mdc-button__label" style="color: red">@Localizer["Transfer"]</span>
                    </button>
                </footer>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
</form>



@section Scripts {
    <script src="~/lib/mtd-ordermaker/users/js/mtd-users-edit.js" asp-append-version="true"></script>
}
