@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@page
@model StageEditModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit approval stage"];
    ViewData["SecondTitle"] = Localizer["Edit stage in the chain"];
}


@section Breadcrumb {
    <li><a href="/config">@Localizer["Configurator"]</a></li>
    <li><a href="/config/approval">@Localizer["Approvals"]</a></li>
    <li><a href="/config/approval/edit?id=@Model.MtdApproval.Id">@Localizer["Approval editor"]</a></li>
    <li><a href="/config/approval/stages?idApproval=@Model.MtdApproval.Id">@Localizer["Stages list"]</a></li>
    <li>@ViewBag.Title</li>
}


@section Action {
    <li class="mdc-list-item" role="menuitem" mtd-data-href="/config/approval/resolutions/index?stage=@Model.MtdApprovalStage.Id">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">thumb_up</span>
        <span class="mdc-list-item__text">@Localizer["Resolution list"]</span>
    </li>   
    <li class="mdc-list-item" role="menuitem" mtd-data-href="/config/approval/rejections/index?stage=@Model.MtdApprovalStage.Id">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">thumb_down</span>
        <span class="mdc-list-item__text">@Localizer["Rejection list"]</span>
    </li>
    <li class="mdc-list-divider"></li>
    <li mtd-data-delete class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">delete</span>
        <span class="mdc-list-item__text">@Localizer["Delete"]</span>
    </li>
}


<form mtd-data-form method="post" autocomplete="off" enctype="multipart/form-data" action="/api/config/approval/stage/edit">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="MtdApprovalStage.Id" name="IdStage" />

    <div class="mtd-desk">
        <div class="mtd-desk-savebar">
            <button mtd-data-clicker mtd-data-location="/config/approval/stages?idApproval=@Model.MtdApproval.Id" mtd-data-message="@Localizer["Stage was changes"]." type="button" class="mdc-fab mdc-fab--extended">
                <span class="material-icons mdc-fab__icon">save</span>
                <span class="mdc-fab__label">@Localizer["Save"]</span>
            </button>
        </div>
        <div style="display: flex; flex-wrap:wrap; justify-content:center">
            <div class="mdc-elevation--z1" style="padding: 8px; margin:8px; width:100%">
                <div>
                    <strong>@Localizer["Fields"]</strong>
                    <hr />
                </div>
                @await Html.PartialAsync("~/Areas/Config/Pages/Approval/Partials/StageEditFields.cshtml", Model.MtdApprovalStage)
            </div>
            <div class="mdc-elevation--z1"  style="padding: 8px; margin:8px">
                <div style="">
                    <strong>@Localizer["Parts of the form that will be uneditable after approval"]</strong>
                    <hr />
                </div>
                @await Html.PartialAsync("~/Areas/Config/Pages/Approval/Partials/StageEditParts.cshtml", Model)
            </div>
        </div>
    </div>
</form>

@await Html.PartialAsync("~/Areas/Config/Pages/Approval/Partials/StageEditDialogDelete.cshtml", Model)



@section Scripts{
    <script src="~/lib/mtd-ordermaker/config/js/mtd-config-approval.js" asp-append-version="true"></script>
}