@page
@model Mtd.OrderMaker.Server.Areas.Support.Pages.FeedbackModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer


@{
    ViewData["Title"] = Localizer["Feedback"];
    ViewData["SecondTitle"] = Localizer["Service support"];
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config-form.css" asp-append-version="true" />
}

@section Breadcrumb {
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-send" class="mdc-fab mdc-fab--extended">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">send</span>
                <span class="mdc-fab__label">@Localizer["Send"]</span>
            </button>
        </div>
    </div>
</div>

<div class="mtd-config-form-place" style="padding: 12px">
    <div style="display: flex; flex-wrap:wrap">
        <div style="display: flex; align-items:center; flex-wrap:wrap">
            <div>
                <img src="~/lib/mtd-ordermaker/images/logo-mtd-350.png" width="250" />
            </div>
            <div style="padding-left: 6px">
                <strong>@Localizer["MTD OrderMaker Server version:"] @System.Reflection.Assembly.GetEntryAssembly().GetName().Version</strong> <br />
                @Localizer["Decision support system"]
            </div>
        </div>
        <div style="padding: 18px; width: 100%">
            <div style="padding-bottom: 12px; color: dimgray">
                @Localizer["Send a message to MTD OrderMaker web application developers."]
                <br />
                @Localizer["Describe the problem that you encountered when using the web application, or write suggestions for improving the capabilities of the service."]
            </div>
            
            <form mtd-data-form method="post" autocomplete='off' novalidate>

                <input id="clicker-send" type="hidden" mtd-data-clicker mtd-data-message="@Localizer["Thanks for the feedback! Message sent."]" />

                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                   {
                        Id = "message-text",
                        Name = "message-text",
                        Label = "Message text",
                        LabelLocalized = true,
                        Rows = 6,
                        Cols = 40,
                        MaxLength = 512,
                        MTDTexFieldView = MTDTextFieldViews.TextArea,
                        Required = true
                   })
            </form>
        </div>
    </div>

    <div style="display: flex;  width: 100%; text-align:right; align-items: center;">
        <div style="padding-right: 4px;flex-grow:1; color: gray;">
            @Localizer["Technical support is provided by"]
        </div>
        <div style="padding-right: 18px;">
            <a href="https://ceoserv.com" target="_blank">
                <img src="~/lib/mtd-ordermaker/images/ceotex-ru-250.png" height="32" />
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const dd = new MTDTextField("message-text");
    </script>
}
