@model MTDTextFieldModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    string Id = Model.Id ?? Guid.NewGuid().ToString();
    string IdLabel = $"{Id}-label";
    string IdHelper = $"{Id}-helper";
    string IdInput = $"{Id}-input";
    string mainClass = "mdc-text-field mdc-text-field--filled ";
    mainClass = Model.Label == null ? mainClass += "mdc-text-field--no-label " : mainClass;
    mainClass = Model.IconLeading != null ? mainClass += "mdc-text-field--with-leading-icon " : mainClass;
    mainClass = Model.IconTrailing != null ? mainClass += "mdc-text-field--with-trailing-icon " : mainClass;
    string rdTag = Model.Required ? "required" : string.Empty;

    if (Model.Disabled)
    {
        mainClass += "mdc-text-field--disabled ";
        rdTag = "disabled";
    }
    string type = Model.Type ?? "text";

    int maxLength = Model.Counter == 0 ? 250 : Model.Counter;
}

<label id="@Id" class="@mainClass" style="width: 100%">
    @if (Model.IconLeading != null)
    {
        if (Model.IconLeadingScript != null)
        {
            <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading"
               tabindex="0" role="button"
               onclick="@Model.IconLeadingScript">@Model.IconLeading</i>
        }
        else
        {
            <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">@Model.IconLeading</i>
        }

    }
    else
    {
        <span class="mdc-text-field__ripple"></span>
    }

    <input id="@IdInput" name="@Model.Name" class="mdc-text-field__input" type="@type"
           aria-labelledby="@IdLabel"
           aria-controls="@IdHelper"
           aria-describedby="@IdHelper"
           placeholder="@SharedLocalizer[$"{@Model.Placeholder}"]"
           maxlength="@maxLength"
           value="@Model.Value"
           @rdTag>
    <span class="mdc-floating-label" id="idLabel">@SharedLocalizer[$"{@Model.Label}"]</span>

    @if (Model.IconTrailing != null)
    {
        if (Model.IconLeadingScript != null)
        {
            <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading"
               tabindex="0" role="button"
               onclick="@Model.IconTrailingString">@Model.IconTrailing</i>
        }
        else
        {
            <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">@Model.IconTrailing</i>
        }
    }

    <span class="mdc-line-ripple"></span>
</label>
@if (Model.HelperText != null)
{
    <div class="mdc-text-field-helper-line">
        <div class="mdc-text-field-helper-text" id="@IdHelper" aria-hidden="true">helper text</div>
    </div>
}
@if (Model.Counter > 0)
{
    <div class="mdc-text-field-helper-line">
        <div class="mdc-text-field-character-counter">0 / @Model.Counter</div>
    </div>
}
