@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model MtdStoreStack

@{
    string dateValue = "";
    dateValue = Model.MtdStoreStackDate.Register.ToString("g");
    if (dateValue.Equals("01.01.0001 0:00"))
    {
        dateValue = "";
    }
}


@switch (ViewBag.TypeStyle)
{
    case "Columns":
        <div class="mtd-store-edit-col-root">
            <div class="mtd-ui-material-form">
                <input @if (@Model.MtdFormPartFieldNavigation.Required == 1) { <text> required </text> }
                       class="mtd-data-datetimepicker" type="text" id="@Model.MtdFormPartFieldNavigation.Id" name="@Model.MtdFormPartFieldNavigation.Id" value="@dateValue" />
                <label mtd-info="@Model.MtdFormPartFieldNavigation.Description" for="@Model.MtdFormPartFieldNavigation.Id" class="mtd-ui-text-label">@Model.MtdFormPartFieldNavigation.Name</label>
                <i class="mtd-ui-text-bottom"></i>
            </div>
        </div>
        break;
    default:
        <div class="mtd-ui-material-form">
            <input @if (@Model.MtdFormPartFieldNavigation.Required == 1) { <text> required </text> }
                   class="mtd-data-datetimepicker" type="text" id="@Model.MtdFormPartFieldNavigation.Id" name="@Model.MtdFormPartFieldNavigation.Id" value="@dateValue" />
            <label mtd-info="@Model.MtdFormPartFieldNavigation.Description" for="@Model.MtdFormPartFieldNavigation.Id" class="mtd-ui-text-label">@Model.MtdFormPartFieldNavigation.Name</label>
            <i class="mtd-ui-text-bottom"></i>
        </div>
        break;
}
