@page
@model ActEditModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Activity editor"];
    ViewData["SecondTitle"] = Localizer["Editing activity parameters"];
}

@section Breadcrumb {
    <li mtd-data-href="/config"><a href="/config">@Localizer["Configurator"]</a></li>
    <li mtd-data-href="/config/form"><a href="/config/form">@Localizer["Forms"]</a></li>
    <li mtd-data-href="/config/form/edit?id=@Model.MtdForm.Id"><a href="/config/form/edit?id=@Model.MtdForm.Id">@Localizer["Form editor"]</a></li>
    <li><a href="/config/form/activites?formId=@Model.MtdForm.Id">@Localizer["Activites"]</a></li>
    <li>@ViewBag.Title</li>
}


@section Action {

    <li mtd-data-delete class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">delete</span>
        <span class="mdc-list-item__text">@Localizer["Delete activity"]</span>
    </li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-save" class="mdc-fab mdc-fab--extended" aria-label="Create">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">@Localizer["Save"]</span>
            </button>
        </div>
    </div>
    <div class="mtd-desk-title">
        <div class="mtd-desk-title-header">
            @if (ViewBag.ImgSrcForm != string.Empty)
            {
                <img src="@ViewBag.ImgSrcForm" />
            }
        </div>
        <div class="mtd-desk-title-name">
            <span>@Model.MtdForm.Name</span>
        </div>
    </div>
</div>

<form mtd-data-form method="post" autocomplete="off"  asp-page-handler="Delete" novalidate>
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="MtdForm.Id" name="formId" />
    <input type="hidden" asp-for="MtdFormActivity.Id" name="activityId" />
    <input type="hidden" id="clicker-save" mtd-data-clicker mtd-data-message="@Localizer["Changes saved."]" />

    <div class="mtd-desk-field">
        <span>@Localizer["Activity image"]</span>
        @await Component.InvokeAsync("MTDImgSelector", new
           {
               id = "imgActivity",
               imgArray = Model.MtdFormActivity.Image,
               imgType = Model.MtdFormActivity.ImageType
           })
    </div>

    <div class="mtd-desk-field">
        @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
           {
               Id = "activity-name",
               Name = "activityName",
               Label = "Name",
               LabelLocalized = true,
               Required = true,
               MTDTexFieldView = MTDTextFieldViews.Outlined,
               MaxLength = 120,
               Value = Model.MtdFormActivity.Name
           })
    </div>
    <div class="mtd-desk-field">
        @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
           {
               Id = "activity-note",
               Name = "activityNote",
               Label = "Description",
               LabelLocalized = true,
               Required = true,
               MTDTexFieldView = MTDTextFieldViews.TextArea,
               Cols = 40,
               Rows = 4,
               MaxLength = 512,
               Value = Model.MtdFormActivity.Description
           })
    </div>
</form>


<form mtd-data-form method="post" autocomplete='off' asp-page-handler="Delete">
    @Html.AntiForgeryToken()
    <input id="activity-delete-id" name="activityId" type="hidden" value="@Model.MtdFormActivity.Id" />
    <input id="deleteClicker" mtd-data-clicker type="hidden" mtd-data-location="/config/register" mtd-data-message="@Localizer["The activity deleted."]" />
</form>


<div id="dialog-delete" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="delete-part-title">
                @Localizer["Delete activity"]?
            </h2>
            <div class="mdc-dialog__content" id="delete-dialog-content">
                @Localizer["The activity and all data associated with it will be permanently deleted."]
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <span class="mdc-button__label">@Localizer["Cancel"]</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
                    <span class="mdc-button__label" onclick="document.getElementById('deleteClicker').click();">@Localizer["Delete"]</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>


@section Scripts {
    <script>

        new MTDTextField("activity-name");
        new MTDTextField("activity-note");

        const dialog = new mdc.dialog.MDCDialog(document.getElementById('dialog-delete'));
        if (dialog) {
            document.querySelector('[mtd-data-delete]').addEventListener('click', () => {
                dialog.open();
            });
        }

    </script>

}