@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model FieldCreateModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["New field"];
    ViewData["SecondTitle"] = Localizer["Creating form field"];
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config-form-part.css" />
}

@section Breadcrumb {
    <li><a href="~/config">@Localizer["Configurator"]</a></li>
    <li><a href="~/config/form">@Localizer["Forms"]</a></li>
    <li><a href="~/config/form/edit?id=@Model.MtdForm.Id">@Localizer["Form editor"]</a></li>
    <li><a href="~/config/form/fields?formId=@Model.MtdForm.Id&idPart=@Model.MtdFormPart.Id">@Localizer["Fields editor"]</a></li>
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px;">
            <button mtd-data-clicker-by="clicker-create" class="mdc-fab mdc-fab--extended" aria-label="Create">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>

    <form mtd-data-form method="post" autocomplete="off" action="~/api/config/form/field/create" novalidate>
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="MtdForm.Id" name="formId" />
        <input type="hidden" asp-for="MtdFormPart.Id" name="partId" />
        <input type="hidden" asp-for="MtdFormPartField.Id" name="fieldId" />
        <input id="clicker-create" type="hidden" mtd-data-clicker
               mtd-data-location="/config/form/fieldedit?id=@Model.MtdFormPartField.Id"
               mtd-data-message="@Localizer["New form field created."]" />

        <div style="text-align:center">
            @if (Model.MtdForm.MtdFormHeader != null)
            {
                var base64 = Convert.ToBase64String(Model.MtdForm.MtdFormHeader.Image);
                var imgSrc = String.Format("data:{0};base64,{1}", Model.MtdForm.MtdFormHeader.ImageType, base64);
                <img src="@imgSrc" style="max-width: 260px; max-height: 72px;" />
            }
            <div style="text-align: center">
                <span style="font-size: medium; text-transform:uppercase; font-weight: bold;">@Model.MtdForm.Name</span>
            </div>
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                {
                    Id = "field-name",
                    Name = "fieldName",
                    Label = "Name",
                    LabelLocalized = true,
                    MTDTexFieldView = MTDTextFieldViews.Outlined,
                    Required = true,
                })
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                {
                    Id = "field-note",
                    Name = "fieldNote",
                    Label = "Description",
                    LabelLocalized = true,
                    MTDTexFieldView = MTDTextFieldViews.TextArea,
                    Required = true,
                    Cols = 40,
                    Rows = 3,
                    MaxLength = 512
                })
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
               {
                   Id = "select-type",
                   Name = "fieldType",
                   Label = "Field type",
                   LabelLocalized = true,
                   Items = Model.TypeItems,
                   ValueId = Model.TypeItems.Select(x => x.Id).FirstOrDefault(),
                   MTDSelectListView = MTDSelectListViews.Outlined,
               })
        </div>
        <div id="fieldWrapper" class="mtd-desk-field" style="display: none">
            @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
                {
                    Id = "select-form",
                    Name = "fieldForm",
                    Label = "List form",
                    LabelLocalized = true,
                    Items = Model.FormItems,
                    ValueId = Model.FormItems.Select(x => x.Id).FirstOrDefault(),
                    MTDSelectListView = MTDSelectListViews.Outlined,
                })
        </div>
    </form>
</div>


@section Scripts{
    <script src="~/lib/mtd-ordermaker/config/js/mtd-config-form-field-create.js" asp-append-version="true"></script>
}
