@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@
@page
@model FieldEditModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Field editor"];
    ViewData["SecondTitle"] = Localizer["Editing form field parameters"];
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config-form-part.css" />
}

@section Breadcrumb {
    <li><a href="/config">@Localizer["Configurator"]</a></li>
    <li><a href="/config/form">@Localizer["Forms"]</a></li>
    <li><a href="/config/form/edit?id=@Model.MtdForm.Id">@Localizer["Form editor"]</a></li>
    <li><a href="/config/form/fields?formId=@Model.MtdForm.Id&idPart=@Model.MtdFormPartField.MtdFormPart">@Localizer["Fields editor"]</a></li>
    <li>@ViewBag.Title</li>
}

@section Action {

    <li mtd-data-href="/config/form/parts?formId=@Model.MtdForm.Id" class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">line_weight</span>
        <span class="mdc-list-item__text">@Localizer["Edit parts"]</span>
    </li>
    <li mtd-data-delete class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">delete</span>
        <span class="mdc-list-item__text">@Localizer["Delete field"]</span>
    </li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-save" class="mdc-fab mdc-fab--extended" aria-label="save">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">save</span>
                <span class="mdc-fab__label">@Localizer["Save"]</span>
            </button>
        </div>
    </div>

    <div style="display: flex; flex-wrap: wrap; align-items: center; padding: 0 16px 4px 16px; border-bottom: 1px solid #ccc">
        <div style="flex-grow:1">
            @if (Model.MtdForm.MtdFormHeader != null)
            {
                var base64 = Convert.ToBase64String(Model.MtdForm.MtdFormHeader.Image);
                var imgSrc = String.Format("data:{0};base64,{1}", Model.MtdForm.MtdFormHeader.ImageType, base64);
                <img src="@imgSrc" style="max-width: 260px; max-height: 72px;" />
            }
            <div>
                <span style="font-size: medium; text-transform:uppercase; font-weight: bold;">@Model.MtdForm.Name</span>
            </div>
        </div>
        <div style="text-align: left">
            <div>
                <span>@Localizer["Field type:"]</span>
                <span><strong>@Model.FieldTypeName</strong></span>
            </div>
            @if (Model.NameFormSelector != null)
            {
                <div>
                    <span>@Localizer["List from:"]</span>
                    <span><strong>@Model.NameFormSelector</strong></span>
                </div>
            }
        </div>

    </div>

    <form mtd-data-form method="post" autocomplete="off" action="/api/config/form/field/edit" novalidate>
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="MtdForm.Id" name="formId" />
        <input type="hidden" asp-for="MtdFormPartField.Id" name="fieldId" />
        <input id="clicker-save" type="hidden" mtd-data-clicker mtd-data-message="@Localizer["Changes saved."]" />

        <div class="mtd-desk-blocks" style="padding-top: 16px;">
            <div class="mtd-desk-block">
                <div class="mtd-desk-field-full">
                    @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                   {
                       Id = "field-name",
                       Name = "fieldName",
                       Label = "Name",
                       LabelLocalized = true,
                       Value = Model.MtdFormPartField.Name,
                       Required = true,
                       MTDTexFieldView = MTDTextFieldViews.Outlined
                   })
                </div>
                <div class="mtd-desk-field-full">
                    @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                   {
                       Id = "field-note",
                       Name = "fieldNote",
                       Label = "Description",
                       LabelLocalized = true,
                       Value = Model.MtdFormPartField.Description,
                       Required = true,
                       MTDTexFieldView = MTDTextFieldViews.TextArea,
                       Cols = 40,
                       Rows = 7,

                   })
                </div>
            </div>
            <div class="mtd-desk-block">

                <div class="mtd-desk-field mtd-desk-field--border">
                    <div style="display: flex;">
                        <div style="padding: 4px;">
                            @await Component.InvokeAsync("MTDCheckbox", new { id = Model.MtdFormPartField.Id, Label = "Required", result = Model.MtdFormPartField.Required == 1 ? true : false })
                        </div>

                        <div style="padding: 4px;">
                            @await Component.InvokeAsync("MTDCheckbox", new { id = $"{Model.MtdFormPartField.Id}-readOnly", Label = "ReadOnly", result = Model.MtdFormPartField.ReadOnly == 1 ? true : false })
                        </div>
                    </div>
                </div>

                <div class="mtd-desk-field mtd-desk-field--border">
                    @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
                       {
                           Id = "select-part",
                           Name = "fieldPart",
                           Items = Model.PartItems,
                           Label = "Form part",
                           LabelLocalized = true,
                       })
                </div>
                <div class="mtd-desk-field mtd-desk-field--border">
                    @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
                       {
                           Id = "select-trigger",
                           Name = "fieldTrigger",
                           Items = Model.TriggerItems,
                           Label = "Trigger",
                           LabelLocalized = true,
                       })
                </div>
                <div class="mtd-desk-field mtd-desk-field--border">
                    @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                   {
                       Id = "field-default",
                       Name = "fieldDefault",
                       Label = "Default data",
                       LabelLocalized = true,
                       Value = Model.MtdFormPartField.DefaultData,
                       MTDTexFieldView = MTDTextFieldViews.Default,

                   })
                </div>
            </div>
        </div>

    </form>
</div>

<form mtd-data-form method="post" autocomplete='off' enctype='multipart/form-data' action='/api/config/form/field/delete'>
    @Html.AntiForgeryToken()
    <input id="config-delete-id" name="fieldId" type="hidden" value="@Model.MtdFormPartField.Id" />
    <input id="deleteClicker" mtd-data-clicker mtd-data-location="/config/form/fields?formId=@Model.MtdForm.Id" mtd-data-message="@Localizer["Field"] @Model.MtdFormPartField.Name @Localizer["has been removed"]." type="hidden" />
</form>

<div id="dialog-field-delete" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="delete-field-title">
                @Localizer["Delete field"]?
            </h2>
            <div class="mdc-dialog__content" id="delete-dialog-content">
                @Localizer["The field and all data associated with it will be permanently deleted"].
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <span class="mdc-button__label">@Localizer["Cancel"]</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
                    <span class="mdc-button__label" onclick="document.getElementById('deleteClicker').click();">@Localizer["Delete"]</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>

@section Scripts{
    <script src="~/lib/mtd-ordermaker/config/js/mtd-config-form-field-edit.js" asp-append-version="true"></script>
}
