@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model PartsModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Parts editor"];
    ViewData["SecondTitle"] = Localizer["Form parts management"];
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config-form-parts.css" asp-append-version="true" />
}

@section Breadcrumb {
    <li><a href="~/config">@Localizer["Configurator"]</a></li>
    <li><a href="~/config/form">@Localizer["Forms"]</a></li>
    <li><a href="~/config/form/edit?id=@Model.MtdForm.Id">@Localizer["Form editor"]</a></li>
    <li>@ViewBag.Title</li>
}

@section Action {

    <li mtd-data-url="/config/form/fields?formId=@Model.MtdForm.Id" class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">view_list</span>
        <span class="mdc-list-item__text">@Localizer["Edit fields"]</span>
    </li>
    <li mtd-data-url="/config/form/activites?formid=@Model.MtdForm.Id" class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__graphic" aria-hidden="true">
            <i class="fas fa-business-time"></i>
        </span>
        <span class="mdc-list-item__text">@Localizer["Activites"]</span>
    </li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-url="/config/form/partcreate?formId=@Model.MtdForm.Id" class="mdc-fab mdc-fab--extended" aria-label="Create">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>
</div>


<div class="mtd-config-form-parts">
    <div class="mtd-config-form-parts__title">
        <div class="mtd-config-form-parts__header">
            @if (Model.MtdForm.MtdFormHeader != null)
            {
                var base64 = Convert.ToBase64String(Model.MtdForm.MtdFormHeader.Image);
                var imgSrc = String.Format("data:{0};base64,{1}", Model.MtdForm.MtdFormHeader.ImageType, base64);
                <img src="@imgSrc" />
            }
        </div>
        <div class="mtd-config-form-parts__fname">
            <span>@Model.MtdForm.Name</span>
        </div>
    </div>

    <hr />

    <form mtd-data-form="sequence" method="post" action="/api/config/form/part/sequence">
        @Html.AntiForgeryToken()
        <input mtd-data-sequence name="fieldSeqData" type="hidden" />
        <input name="fieldPart" type="hidden" value="@Model.CurrentPartId" />
        <input name="fieldForm" type="hidden" value="@Model.MtdForm.Id" />
        <input mtd-data-clicker type="hidden" />
    </form>

    <div class="mtd-config-form-parts__list">
        <ul mtd-data-draggable class="mdc-list">
            @foreach (var part in Model.MtdForm.MtdFormPart.OrderBy(x => x.Sequence))
            {
                <li mtd-data-url="/config/form/partedit?id=@part.Id" id="@part.Id-licol" class="mtd-list-item mdc-list-item" draggable="true" role="button" aria-checked="false"
                    data-value="@part.Id">
                    <span class="mdc-list-item__ripple"></span>
                    <label class="mdc-list-item__text" for="@part.Id-lc">@part.Name</label>
                    <div class="mtd-config-form-parts__bdrag">
                        <i class="material-icons" style="color:gray">drag_handle</i>
                    </div>
                    <div class="mtd-config-form-parts__bedit">
                        <button id="add-to-favorites"
                                class="mdc-icon-button"
                                aria-label="Add to favorites"
                                aria-hidden="true"
                                aria-pressed="false"
                                mtd-data-url="/config/form/partedit?id=@part.Id">
                            <i class="material-icons mdc-icon-button__icon">edit</i>
                        </button>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
