@model Mtd.OrderMaker.Server.Components.Store.StoreViewerModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div id="@Model.ViewerId-viewer" style="min-height: 24px;">
    <div style="display: flex; align-items:center; flex-wrap:wrap">
        <div style="padding: 4px;">
            <img id="@Model.ViewerId-viewer-img" src="@Model.ImgSrc" style="max-height: 24px; max-width: 72px;" />
        </div>
        <div id="@Model.ViewerId-viewer-form-name" style="padding: 4px;">
            @Model.FormName
        </div>
        <div id="@Model.ViewerId-viewer-doc-name" style="padding: 4px">
            
            @{
                string viewerOn = (Model.DocName != null && Model.DocName != string.Empty) ? "" : "none";
                string viewerOff = (Model.DocName != null && Model.DocName != string.Empty) ? "none" : "";
            }

            <div id="@Model.ViewerId-viewer-on" style="display: @viewerOn; align-self: center;">
                @if (Model.IsViewer)
                {
                    <a href="/workplace/store/details?id=@Model.SoreId" target="_blank">@Model.DocName</a>

                }
                else
                {
                    <span>@Model.DocName</span>
                }

            </div>
            <div id="@Model.ViewerId-viewer-off" style="display: @viewerOff; align-self: center;">@Localizer["No selected"]</div>
        </div>
    </div>
</div>
